.cart__summary__wrapper__form {
  width: 25.5rem;
  border: 1px solid #ebebeb;
  border-radius: 8px;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  h2 {
    font-family: Inter;
    font-weight: 700;
    font-size: 20px;
    line-height: 16px;
  }

  &__discount {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    label {
      font-family: Inter;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
    }
    input {
      border: 1px solid #9f9f9f;
      border-radius: 7px;
      width: calc(25.5rem - 2rem);
      height: calc(3.5rem - 2rem);
      padding: 1rem;
      &::placeholder {
        font-family: Inter;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        vertical-align: middle;
        color: #979797;
      }
    }
  }

  &__bonus {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    label {
      font-family: Inter;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
    }
    div {
      position: relative;
      input {
        border: 1px solid #9f9f9f;
        border-radius: 7px;
        width: calc(25.5rem - 2rem);
        height: calc(3.5rem - 2rem);
        padding: 1rem;
        &::placeholder {
          font-family: Inter;
          font-weight: 400;
          font-size: 14px;
          line-height: 24px;
          vertical-align: middle;
          color: #979797;
        }
      }
      button {
        position: absolute;
        width: 5rem;
        padding: 0.5rem;
        right: 1rem;
        top: 0.7rem;
        background-color: transparent;
        border-radius: 6px;
        font-family: Inter;
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        cursor: pointer;
        // transform: translate(385%, -46px);
      }
    }
  }

  &__button {
    cursor: pointer;
    border-radius: 6px;
    background-color: #000000;
    color: #ffffff;
    padding: 1rem 10.5rem;
    transition: all 0.3s ease-in-out;
    font-family: Inter;
    font-size: 16px;
    line-height: 24px;
    text-align: center;

    &:hover {
      background-color: #ffffff;
      color: #000000;
    }
  }
}
