@use "../../scss/index" as *;

.accordion {
  display: flex;
  flex-direction: column;
  width: 16rem;

  &__search {
    text-align: center;
   input{
     width: calc(15rem - 2.5rem);
     padding: 0.7rem 1.25rem;
     border-radius: 8px;
     border: none;
     background-color: $input-bg;
     color: $input-text;
     &::placeholder {
       color: $input-placeholder;
       //padding-left: 25px;
     }
   }
  }

  &__block {
    width: 100%;
    margin-bottom: 1.5rem;
    cursor: pointer;
  }
  &__header {
    display: flex;
    justify-content: space-between;
    border-bottom: 0.5px solid #B5B5B5;
    padding: 0.75rem 0;

    span {
      font-family: Inter, serif;
      font-weight: 500;
      font-size: 18px;
      line-height: 24px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transition: max-height 0.3s ease, opacity 0.3s ease;

    &--open{
      max-height: 500px;
      opacity: 1;
    }
  }



  &__search {
    margin: 1rem 0;
  }
  &__item {
    display: flex;
    align-items: center;
    input[type="checkbox"] {
      appearance: none;
      -webkit-appearance: none;
      width: 20px;
      height: 20px;
      border: 2px solid #555;
      border-radius: 4px;
      position: relative;
      &:checked {
        background-color: #000;
      }
      &:checked::before {
        content: "";
        position: absolute;
        top: 0;
        left: 4px;
        width: 6px;
        height: 9px;
        border: solid #fff;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
      }
    }
    span {
      font-family: Inter, serif;
      font-weight: 500;
      font-size: 15px;
      line-height: 24px;
      margin-left: 0.5rem;
    }
    &:not(:last-child) {
      margin-bottom: 0.5rem;
    }
  }
}

.arrow {
  cursor: pointer;
  user-select: none;
  display: inline-block;
  transition: transform 0.3s ease;
  transform: rotate(0deg);

  &__open {
    cursor: pointer;
    display: inline-block;
    user-select: none;
    transition: transform 0.3s ease;
    transform: rotate(180deg);
  }
}
